{% extends "_layouts/main" %}
{% block main %}
<section class="container">
  <div class="row">
    <span class="maxw text-white">
    {% if entry.about|length %}
      {% for block in entry.about.all() %}
        {% switch block.type %}
        {% case 'aboutcontent' %}
        {{ block.body }}
        {% case 'videolink' %}
        <iframe class="mb-3" src="{{ block.videolink }}" title="{{ entry.videonaam }}" width="560" height="315" allowfullscreen></iframe>
        {% endswitch %}
      {% endfor %}
    {% endif %}
    </span>
  </div>
</section>
{% endblock %}
