<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="alternate" href="http://blogsite.local" hreflang="nl-nl">
    <meta content="Pjotr" property="og:site_name">
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="http://blogsite.local" rel="home">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <meta name="robots" content="index, follow">
    <meta name="AdsBot-Google" content="index">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      /*a{
        color: #60b5ff;
      }*/
      #imgsection{
        background-color: black;
        background-size: cover;
        background-position: center;
        min-height: 250px;
        color: white;
      }
    </style>
    <meta content="Pjotr Wisse Blog Website" property="og:title">
    <meta name="description" property="og:description" content="Pjotr Wisse is de naam en ik post videos hier over verschillende onderwerpen die ik leuk vind.">
    <title>{{entry.title}}</title>
  </head>
  <body class="bg-dark d-flex flex-column h-100">
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <div class="text-white">{{ entry.introduction }}</div>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com" class="text-white">Follow on Twitter</a></li>
                <li><a href="https://facebook.com" class="text-white">Like on Facebook</a></li>
                <li><a href="mailto:pjotr@pixeldeluxe.nl" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="http://blogsite.local" class="navbar-brand d-flex align-items-center">
            <img class="img-fluid"  width="100" src="/images/simg/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
</header>
<main class="bg-dark pt-4 pb-4 border-top">
    {% block main %}

    {% endblock %}
</main>
<footer class="footer mt-auto py-3 bg-dark border-top">
  <div class="container">
    <p class="text-white"> <mm id="copy"></mm> Pjotr Wisse</p>
  </div>
</footer>
    <!-- Bootstrap JS -->
    <script src="/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="/js/all.min.js"></script>
    <script>
    //get a new date
    var date = new Date();
    //Get Copyright just for the website footer
    document.getElementById("copy").innerHTML = "Copyright © " + date.getFullYear() + " ";
    </script>
  </body>
</html>
